- content_for :main_nav_content do
  = render_region 'main-nav'

- content_for :application_content do
  #content
    = flash_messages
    = breadcrumbs_helper
    = content_for?(:admin_content) ? yield(:admin_content) : yield

- content_for :head do
  = render 'shared/admin_head'

- add_body_class('admin')
- @hide_google_analytics = true
= render :file => 'layouts/application'