- content_for :main_nav_content do
  = render_region 'main-nav'
- content_for :banner_content do
  = render_region 'main-banner'

- content_for :application_content do
  #content
    #content-main-wrapper
      #content-slide-wrapper
        #content-slide
          #slide
            #content-top
              = render_region 'content-top'
      #content-main
        = flash_messages
        = content_for?(:default_content) ? yield(:default_content) : yield
    #content-bottom
      = render_region 'content-bottom'

- add_body_class("home")
= render :file => 'layouts/application'
