- content_for :main_nav_content do
  = render_region 'main-nav'
- content_for :banner_content do
  = render_region 'main-banner'

- content_for :application_content do
  #content
    #content-top
      = render_region 'content-top'
    #content-main
      = flash_messages
      = breadcrumbs_helper
      = content_for?(:default_content) ? yield(:default_content) : yield
    #content-bottom
      = render_region 'content-bottom'

- add_body_class("one-column")
= render :file => 'layouts/application'
